/* styles.css */
.logo {
    text-decoration: none;
    color: white !important; 
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar-container {
    display: flex;
    align-items: center; /* Align items vertically */
    flex-grow: 0.5;
}

.search-bar-container input[type="text"] {
    padding: 5px;
    margin-right: 5px; /* Add margin to separate input and button */
    width: 300px; /* Set the width to 300px or adjust as needed */
}

.search-bar-container button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.buttons-container {
    position: absolute;
    top: 35px;
    right: 50px;
}
#logout-button,
#login-button,
#signup-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.logout-button:hover,
.login-button:hover,
.signup-button:hover {
    background-color: #45a049;
}

.navbar {
    background-color: #333;
    color: white;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    margin-right: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #0070c0;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}







.library-container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.library-container h2 {
    margin-top: 0;
}

.library-container input[type="text"] {
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.library-container button[type="submit"] {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
