

.logo a {
   
  text-decoration: none;
  color: white !important; 
}
.logo img {
  width: 30px; /* Set the width of the logo image */
  height: auto; /* Maintain aspect ratio */
}
.a{
  color: white;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 50px; /* Add margin to move the container down */
}


h1 {
    margin-top: 0;
    color: #333;
}

.song-list {
    list-style-type: none;
    padding: 0;
}

.song-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.song-item:last-child {
    border-bottom: none;
}

.song-title {
    font-weight: bold;
}

.song-artist {
    color: #666;
}
.dropdown{
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  /* styles.css */

