/* styles.css */
.logo a {
   
    text-decoration: none;
    color: white !important; 
}
.logo img {
    width: 30px; /* Set the width of the logo image */
    height: auto; /* Maintain aspect ratio */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.a{
    color: white;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar-container {
    display: flex;
    align-items: center; /* Align items vertically */
    flex-grow: 0.5;
}

.search-bar-container input[type="text"] {
    padding: 5px;
    margin-right: 5px; /* Add margin to separate input and button */
    width: 300px; /* Set the width to 300px or adjust as needed */
}

.search-bar-container button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.buttons-container {
    position: absolute;
    top: 35px;
    right: 50px;
}
#logout-button,
#login-button,
#signup-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.logout-button:hover,
.login-button:hover,
.signup-button:hover {
    background-color: #45a049;
}

.navbar {
    padding: 1px;
    background-color: #c20c0c;
    color: white;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    margin-right: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #0070c0;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.playlist-button img {
    width: 100px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
}
.imageshow-container{
    border-bottom: 1px solid #ccc;
    background-color: #0e7ff9b0;

}

#imageshow {
    margin: 0 auto; /* Center the slideshow horizontally */
    width: 100%; /* Use full width */
    max-width: 730px; /* Limit width to 400px */
    height: 400px;
    overflow: hidden;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    position: relative;
}

#imageshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
}


.bullets {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 1; /* Ensure bullets are above images */
}

.bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.bullet.active {
    background-color: #fff;
}
.playlist-container,h2 {
    display: flex;
    justify-content: center;
    max-width: 690px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(5, 5, 5, 0.1);
    
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px; /* Optional: Add padding to space out the text from the line */
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.playlist-button {
    margin: 0 10px;
    text-align: center;

}

.playlist-button img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
    margin-bottom: 5px;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px; /* Optional: Add padding to space out the text from the line */
}